@CHARSET "ISO-8859-1";

body {
	padding: 0;
}

.map {
	width: 640px;
	height: 640px;
	float: left;
}

.grid {
	border: 1px solid #ccc;
	width: 30px;
	height: 30px;
	float: left;
}

.details_enemy {
	float: left;
	width: 20%;
	margin-left: 20px;
}

.details_player {
	float: left;
	width: 20%;
	
}

.avaliable {
	background: green;
}

.enemy {
	background: red;
}

.obstacle {
	background: black;
}

.player {
	background: blue;
}

.admin {

}

.frontend {
}

.backend {
}

.qa {
}

.manager {
}