@CHARSET "ISO-8859-1";

body {
	padding: 0;
}

.map {
	width: 640px;
	height: 640px;
	float: left;
}

.grid {
	border: 1px solid #ccc;
	width: 30px;
	height: 30px;
	float: left;
}

.details_enemy {
	float: left;
	width: 20%;
	margin-left: 20px;
}

.details_player {
	float: left;
	width: 20%;
	
}

.avaliable {
	background: green;
}

.enemy {
	
}

.obstacle {
	background: black;
}

.player {
	
}

.admin {
	background-image:url('../images/admin_small.png');
}

.frontend {
	background-image:url('../images/frontend_small.png');
}

.backend {
	background-image:url('../images/backend_small.png');
}

.qa {
	background-image:url('../images/qa_small.png');
}

.manager {
	background-image:url('../images/manager_small.png');
}

.image_display{
float:left;
width:50%;
}
.basic_data{
float:left;
width:45%;
}
.player_top{
width:100%;
}